@font-face {
  font-family: "Intro";
  src: url("Intro-Regular.eot");
  src: local("Intro Regular"), local("Intro-Regular"),
    url("Intro-Regular.eot?#iefix") format("embedded-opentype"),
    url("Intro-Regular.woff") format("woff"),
    url("Intro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("Intro-Bold.eot");
  src: local("Intro Bold"), local("Intro-Bold"),
    url("Intro-Bold.eot?#iefix") format("embedded-opentype"),
    url("Intro-Bold.woff") format("woff"),
    url("Intro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("Intro-Black.eot");
  src: local("Intro Black"), local("Intro-Black"),
    url("Intro-Black.eot?#iefix") format("embedded-opentype"),
    url("Intro-Black.woff") format("woff"),
    url("Intro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
